.track {
  // author
  &__author {
    width: 27%;
    display: flex;
    justify-content: flex-start;
  }

  &__author-link {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    text-align: left;
  }

  //album
  &__album {
    width: 20%;
  }

  &__album-link {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
  }

  &__time-text {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    text-align: right;
  }

  // track-title

  &__title-link {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
  }

  &__title-span {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
  }

  // track-image
  &__title-image {
    width: 51px;
    height: 51px;
    padding: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    &_dark {
      background: #313131;
    }
    &_light {
      background: #F6F4F4;
    }
  }

  &__title-svg {
    width: 18px;
    height: 17px;
  }
}
