.main__nav {
    width: 10%;
    background-color: #181818;
    padding: 20px 0 20px 36px;
}

.nav {

    &__logo {
        width: 113.33px;
        height: 43px;
        padding: 13px 0 13px 0;
        background-color: transparent;
        margin-bottom: 20px;
    }

    &__burger {
        width: 20px;
        height: 36px;
        padding: 13px 0;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
}

.logo {

    &__image {
        width: 113.33px;
        height: 17px;
        color: #181818;
    }

}

.burger {

    &__line {
        display: inline-block;
        width: 100%;
        height: 1px;
        background-color: #D3D3D3;

    }
}