.main__centerblock {
    width: 60%;
    flex-grow: 3;
    padding: 20px 40px 20px 111px;
}

.centerblock {

    &__search {
        width: 100%;
        border-bottom: 1px solid #4E4E4E;
        margin-bottom: 51px;
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    &__h2 {
        font-style: normal;
        font-weight: 400;
        font-size: 64px;
        line-height: 72px;
        letter-spacing: -0.8px;
        margin-bottom: 45px;
    }


    &__filter {
        display: flex;
        flex-direction: row;
        align-items: center;
        margin-bottom: 51px;
    }

    &__content {
        display: flex;
        flex-direction: column;
    }
}

.search {

    &__svg {
        width: 17px;
        height: 17px;
        margin-right: 5px;
        stroke: #FFFFFF;
        fill: transparent;
    }

    &__text {
        flex-grow: 100;
        background-color: transparent;
        border: none;
        padding: 13px 10px 14px;
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 24px;
        color: #FFFFFF;

        &::placeholder {
            background-color: transparent;
            color: #FFFFFF;
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 24px;
        }
    }
}

.filter {
    &__title {
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 24px;
        margin-right: 15px;
    }

    &__container_btn {
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    &__button {
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 24px;
        border: 1px solid #FFFFFF;
        border-radius: 60px;
        padding: 6px 20px;

        &:not(:last-child) {
            margin-right: 10px;
        }
    }

    &__btn_active {
        border: 1px solid #AD61FF;
        color: #AD61FF;
        cursor: pointer;
    }
}

.content {

    &__title {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 24px;
    }

    &__playlist {
        display: flex;
        flex-direction: column;
        overflow-y: auto;
    }
}

.playlist_title {

    &__col {
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 24px;
        letter-spacing: 2px;
        color: #696969;
        text-transform: uppercase;
    }

    &__svg {
        width: 12px;
        height: 12px;
        fill: transparent;
        stroke: #696969;
    }
}

.col01 {
    width: 447px;
}

.col02 {
    width: 321px;
}

.col03 {
    width: 245px;
}
.col04 {
    width: 60px;
    text-align: end;
}