.main__centerblock {
  width: 60%;
  flex-grow: 3;
  padding: 20px 40px 20px 111px;
  height: 100vh;
}

.centerblock {
  &__search {
    width: 100%;
    margin-bottom: 51px;
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  &__h2 {
    font-style: normal;
    font-weight: 400;
    font-size: 64px;
    line-height: 72px;
    letter-spacing: -0.8px;
    margin-bottom: 45px;
  }

  &__filter {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 51px;
  }

  &__content {
    display: flex;
    flex-direction: column;
  }
}

.search {
  &__svg {
    width: 17px;
    height: 17px;
    margin-right: 5px;
    fill: transparent;
  }

  &__text {
    flex-grow: 100;
    background-color: transparent;
    border: none;
    padding: 13px 10px 14px;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    outline: none;

    &::placeholder {
      background-color: transparent;
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      line-height: 24px;
    }
  }
}

.light__search {
    color: #000;
    border: 1px solid #000;
}
.light__search:hover {
    color: #580EA2;
    border: 1px solid #580EA2;
}

.filter {
  &__title {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    margin-right: 15px;
  }

  &__container_btn {
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  &__button {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    border-radius: 60px;
    padding: 6px 20px;

    &:not(:last-child) {
      margin-right: 10px;
    }

    &:hover {
      color: #d9b6ff;
      border: 1px solid #d9b6ff;
    }
    &:active {
        border: 1px solid #AD61FF;
        color: #AD61FF;
    }
  }

  &__btn_active {
    border: 1px solid #ad61ff;
    color: #ad61ff;
    cursor: pointer;
  }
}



.content {
  &__title {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 24px;
  }

  &__playlist {
    display: flex;
    flex-direction: column;
    overflow-y: auto;
  }
}

.playlist_title {
  &__col {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 2px;
    text-transform: uppercase;
  }

  &__svg {
    width: 12px;
    height: 12px;
    fill: transparent;
  }
}

.col01 {
  width: 447px;
}

.col02 {
  width: 321px;
}

.col03 {
  width: 245px;
}
.col04 {
  width: 60px;
  text-align: end;
}
