.track-play {
  // track-like/dislike
  &__like-svg {
    width: 14px;
    height: 12px;
    fill: transparent;
    cursor: pointer;
    &:hover * {
      stroke: #acacac;
    }
    &:active * {
      fill: #696969;
      stroke: #ffffff;
    }
  }
  &__like-svg_light {
    width: 14px;
    height: 12px;
    fill: transparent;
    cursor: pointer;
    &:hover * {
      stroke: #707070;
    }
    &:active * {
      fill: #ad61ff;
      stroke: #000000;
    }
  }
}

.player {
  &__btn-prev,
  &__btn-play,
  &__btn-next,
  &__btn-repeat,
  &__btn-shuffle {
    padding: 5px;
    display: flex;
    align-items: center;
  }

  &__controls-btn {
    &:hover * {
      fill: #696969;
    }
    &:active * {
      fill: #d9d9d9;
    }
  }

  &__controls-btn_light {
    &:hover * {
      fill: #707070;
      stroke: #707070;
    }
    &:active * {
      fill: #b1b1b1;
      stroke: #b1b1b1;
    }
  }

  // button-prev
  &__btn-prev {
    margin-right: 23px;
  }

  &__btn-prev-svg {
    width: 15px;
    height: 14px;
  }

  // button-play
  &__btn-play {
    margin-right: 23px;
  }

  &__btn-play-svg {
    width: 22px;
    height: 20px;
  }

  // button-next
  &__btn-next {
    margin-right: 28px;
  }

  &__btn-next-svg {
    width: 15px;
    height: 14px;
    fill: inherit;
  }

  // button-repeat
  &__btn-repeat {
    margin-right: 24px;
  }

  &__btn-repeat-svg {
    width: 18px;
    height: 12px;
    fill: transparent;
    &:hover * {
      fill: #acacac;
    }
    &:active * {
      fill: #ffffff;
    }
    &_active * {
      fill: #ffffff;
    }
  }
  &__btn-repeat-svg_light {
    width: 18px;
    height: 12px;
    fill: transparent;
    &:hover * {
      fill: #707070;
    }
    &:active * {
      fill: #000000;
    }
    &_active * {
      fill: #000000;
    }
  }

  // button-shuffle
  &__btn-shuffle {
    display: flex;
    align-items: center;
  }

  &__btn-shuffle-svg {
    width: 19px;
    height: 12px;
    fill: transparent;
    &:hover * {
      fill: #acacac;
    }
    &:active * {
      fill: #ffffff;
    }
    &_active * {
      fill: #ffffff;
    }
  }
  &__btn-shuffle-svg_light {
    width: 19px;
    height: 12px;
    fill: transparent;
    &:hover * {
      fill: #707070;
    }
    &:active * {
      fill: #000000;
    }
    &_active * {
      fill: #000000;
    }
  }
}
