.playlist {
  &__item {
    width: 100%;
    display: block;
    margin-bottom: 12px;
  }

  &__track {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
}

.track {
  &__title {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 38%;
    gap: 17px;
  }
  // track-time
  &__time-svg {
    width: 14px;
    height: 12px;
    margin-right: 17px;
    fill: transparent;
    cursor: pointer;
    &:hover * {
      stroke: #ACACAC;
    }
  }
}
