.light_background {
    background-color: #fff;
}

.light_text {
    color: #000;
}

.light_border {
    color: #000;
}

.light__nav_background {
    background: #F6F5F3;
}

/* 
${theme === 'light' ? theme.light_background : ''} 
*/